.commentautor {
    font-weight: bold;
}

.comment{
    font-size: 25px;
    font-family: "SF UI  Text";
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    margin-top: 100px;
    border: solid 4px;
    padding: 100px;
    border-radius: 50px;
}
